.loader {
  display: none;
  position: fixed;
  bottom: 38px;
  left: 0;
  right: 0;
  border-top: 1px solid #d9ddde;
  background-color: #f2f6f7;
  padding: 15px 0;
}

.loader p {
  text-align: center;
  font-size: 12px;
  color: #333;
}

.progress {
  margin: 0;
}

[data-instances] {
  transition: opacity 2s;
}

.saving [data-instances] {
  opacity: 0.2;
}

.saving .loader {
  display: block;
}

section {
  border-bottom: 1px solid #d9ddde;
  margin-bottom: 20px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 25px;
  color: #333;
}

section h4 {
  margin-bottom: 0;
  font-size: 16px;
  color: #333;
}

section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

section li {
  border-bottom: 1px solid #d9ddde;
  padding: 10px 0;
}

section li label {
  display: block;
}

section .actions {
  margin-bottom: 20px;
}