.color-field-holder {
  position: relative;

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .color-picker-background {
    width: 30px !important;
    min-width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid $light-gray;
    border-radius: 6px;
    overflow: hidden;

    .color-holder {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
  
