{
  "root": true,
  "extends": [
    "eslint:recommended",
    "fliplet",
    "plugin:vue/essential"
  ],
  "globals": {
    "Vue": true,
    "Modernizr": true,
    "Hammer": true
  },
  "rules": {
    "no-new": 0
  }
}
