.quick-settings {
  margin: 30px -15px;

  .control-label {
    &.quick-settings-title {
      text-transform: uppercase;
    }

    label {
      font-weight: 600;
    }
  }

  .quick-settings-field {
    display: flex;
    align-items: center;

    & + .quick-settings-field {
      margin-top: 5px;
    }
  }
}