#component-settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $widget-background-color;
  padding: 0 15px;
  z-index: 2;

  header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }

  .close-component-settings {
    font-size: 0.8em;
    margin-top: -3px;
    cursor: pointer;
  }

  .breakpoint-tabs {
    margin-top: 40px;
  }

  .settings-fields-holder {
    margin: 0 -15px;
    height: calc(100% - 40px);
    overflow: auto;
    padding: 30px 0 0;

    .control-label {
      text-transform: uppercase;
      font-weight: 600;
    }

    .form-group {
      margin-bottom: 25px;
    }

    .multi-field {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
    }

    .multi-field {
      > * {
        display: flex;
        width: auto;
        margin: 0 15px 8px 15px;
      }
    }

    .full-width {
      min-width: calc(100% - 30px);
    }

    .half-width {
      min-width: calc(50% - 30px);
    }
  }
}

