@font-face {
  font-family: 'fl-icon-studio';
  src:  url('./fl-icon.eot?geyu78');
  src:  url('./fl-icon.eot?geyu78#iefix') format('embedded-opentype'),
    url('./fl-icon.ttf?geyu78') format('truetype'),
    url('./fl-icon.woff?geyu78') format('woff'),
    url('./fl-icon.svg?geyu78#fl-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fl-icon-"], [class*=" fl-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fl-icon-studio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fl-icon-file-folder:before {
  content: "\e97b";
}
.fl-icon-fit-to-view-II:before {
  content: "\e97c";
}
.fl-icon-fit-to-view-III:before {
  content: "\e97d";
}
.fl-icon-fit-to-view:before {
  content: "\e97e";
}
.fl-icon-zoom-in1:before {
  content: "\e97f";
}
.fl-icon-zoom-out1:before {
  content: "\e980";
}
.fl-icon-add-fill:before {
  content: "\e931";
}
.fl-icon-add-square:before {
  content: "\e932";
}
.fl-icon-add:before {
  content: "\e933";
}
.fl-icon-agenda:before {
  content: "\e934";
}
.fl-icon-alarm:before {
  content: "\e935";
}
.fl-icon-arrow-down:before {
  content: "\e936";
}
.fl-icon-arrow-left:before {
  content: "\e937";
}
.fl-icon-arrow-right:before {
  content: "\e938";
}
.fl-icon-arrow-up:before {
  content: "\e939";
}
.fl-icon-bell:before {
  content: "\e93a";
}
.fl-icon-book:before {
  content: "\e93b";
}
.fl-icon-bookmark-fill:before {
  content: "\e93c";
}
.fl-icon-bookmark:before {
  content: "\e93d";
}
.fl-icon-call:before {
  content: "\e93e";
}
.fl-icon-cancel-II:before {
  content: "\e93f";
}
.fl-icon-cancel-III-fill:before {
  content: "\e940";
}
.fl-icon-cancel-III:before {
  content: "\e941";
}
.fl-icon-cancel:before {
  content: "\e942";
}
.fl-icon-chevron-down-II:before {
  content: "\e943";
}
.fl-icon-chevron-down:before {
  content: "\e944";
}
.fl-icon-chevron-left-II:before {
  content: "\e945";
}
.fl-icon-chevron-left:before {
  content: "\e946";
}
.fl-icon-chevron-right-II:before {
  content: "\e947";
}
.fl-icon-chevron-right:before {
  content: "\e948";
}
.fl-icon-chevron-up-II:before {
  content: "\e949";
}
.fl-icon-chevron-up:before {
  content: "\e94a";
}
.fl-icon-clock:before {
  content: "\e94b";
}
.fl-icon-components-II-fill:before {
  content: "\e94c";
}
.fl-icon-components-II:before {
  content: "\e94d";
}
.fl-icon-components:before {
  content: "\e94e";
}
.fl-icon-copy:before {
  content: "\e94f";
}
.fl-icon-data:before {
  content: "\e950";
}
.fl-icon-desktop:before {
  content: "\e951";
}
.fl-icon-developer-options:before {
  content: "\e952";
}
.fl-icon-edit:before {
  content: "\e953";
}
.fl-icon-email:before {
  content: "\e954";
}
.fl-icon-heart-fill:before {
  content: "\e955";
}
.fl-icon-heart:before {
  content: "\e956";
}
.fl-icon-home-fill:before {
  content: "\e957";
}
.fl-icon-home:before {
  content: "\e958";
}
.fl-icon-image:before {
  content: "\e959";
}
.fl-icon-layout:before {
  content: "\e95a";
}
.fl-icon-linkedin:before {
  content: "\e95b";
}
.fl-icon-lock:before {
  content: "\e95c";
}
.fl-icon-menu-II:before {
  content: "\e95d";
}
.fl-icon-menu-III:before {
  content: "\e95e";
}
.fl-icon-menu:before {
  content: "\e95f";
}
.fl-icon-message:before {
  content: "\e960";
}
.fl-icon-mic:before {
  content: "\e961";
}
.fl-icon-mobile:before {
  content: "\e962";
}
.fl-icon-more-II:before {
  content: "\e963";
}
.fl-icon-more-III:before {
  content: "\e964";
}
.fl-icon-more:before {
  content: "\e965";
}
.fl-icon-newsfeed:before {
  content: "\e966";
}
.fl-icon-paintbrush:before {
  content: "\e967";
}
.fl-icon-pin-fill:before {
  content: "\e968";
}
.fl-icon-pin:before {
  content: "\e969";
}
.fl-icon-profile:before {
  content: "\e96a";
}
.fl-icon-search:before {
  content: "\e96b";
}
.fl-icon-settings:before {
  content: "\e96c";
}
.fl-icon-share-II:before {
  content: "\e96d";
}
.fl-icon-share:before {
  content: "\e96e";
}
.fl-icon-star-fill:before {
  content: "\e96f";
}
.fl-icon-star:before {
  content: "\e970";
}
.fl-icon-subtract-fill:before {
  content: "\e971";
}
.fl-icon-subtract:before {
  content: "\e972";
}
.fl-icon-tablet:before {
  content: "\e973";
}
.fl-icon-thumb-down:before {
  content: "\e974";
}
.fl-icon-thumb-up:before {
  content: "\e975";
}
.fl-icon-trash:before {
  content: "\e976";
}
.fl-icon-write-II:before {
  content: "\e977";
}
.fl-icon-write-III:before {
  content: "\e978";
}
.fl-icon-write:before {
  content: "\e979";
}
.fl-icon-activity:before {
  content: "\e900";
}
.fl-icon-archive:before {
  content: "\e901";
}
.fl-icon-award:before {
  content: "\e902";
}
.fl-icon-bell2:before {
  content: "\e903";
}
.fl-icon-bell-off:before {
  content: "\e904";
}
.fl-icon-briefcase:before {
  content: "\e905";
}
.fl-icon-camera:before {
  content: "\e906";
}
.fl-icon-check:before {
  content: "\e907";
}
.fl-icon-check-circle:before {
  content: "\e908";
}
.fl-icon-clipboard:before {
  content: "\e909";
}
.fl-icon-compass:before {
  content: "\e90a";
}
.fl-icon-download-cloud:before {
  content: "\e90b";
}
.fl-icon-film:before {
  content: "\e90c";
}
.fl-icon-filter:before {
  content: "\e90d";
}
.fl-icon-gift:before {
  content: "\e90e";
}
.fl-icon-grid:before {
  content: "\e90f";
}
.fl-icon-layers:before {
  content: "\e910";
}
.fl-icon-map:before {
  content: "\e911";
}
.fl-icon-maximize-2:before {
  content: "\e912";
}
.fl-icon-mic2:before {
  content: "\e913";
}
.fl-icon-moon:before {
  content: "\e914";
}
.fl-icon-music:before {
  content: "\e915";
}
.fl-icon-navigation:before {
  content: "\e916";
}
.fl-icon-navigation-2:before {
  content: "\e917";
}
.fl-icon-paperclip:before {
  content: "\e918";
}
.fl-icon-printer:before {
  content: "\e919";
}
.fl-icon-refresh-ccw:before {
  content: "\e91a";
}
.fl-icon-save:before {
  content: "\e91b";
}
.fl-icon-send:before {
  content: "\e91c";
}
.fl-icon-shield:before {
  content: "\e91d";
}
.fl-icon-sliders:before {
  content: "\e91e";
}
.fl-icon-tag:before {
  content: "\e91f";
}
.fl-icon-thumbs-down:before {
  content: "\e920";
}
.fl-icon-thumbs-up:before {
  content: "\e921";
}
.fl-icon-truck:before {
  content: "\e922";
}
.fl-icon-umbrella:before {
  content: "\e923";
}
.fl-icon-unlock:before {
  content: "\e924";
}
.fl-icon-upload:before {
  content: "\e97a";
}
.fl-icon-upload-cloud:before {
  content: "\e925";
}
.fl-icon-user:before {
  content: "\e926";
}
.fl-icon-users:before {
  content: "\e927";
}
.fl-icon-video:before {
  content: "\e928";
}
.fl-icon-voicemail:before {
  content: "\e929";
}
.fl-icon-volume-2:before {
  content: "\e92a";
}
.fl-icon-volume-x:before {
  content: "\e92b";
}
.fl-icon-watch:before {
  content: "\e92c";
}
.fl-icon-wifi:before {
  content: "\e92d";
}
.fl-icon-zap:before {
  content: "\e92e";
}
.fl-icon-zoom-in:before {
  content: "\e92f";
}
.fl-icon-zoom-out:before {
  content: "\e930";
}