html {
  height: 100%; 
}

body {
  height: calc(100% - 40px) !important; // Because of margin in #theme-application
  min-height: initial !important;
  overflow: hidden;
}

.fl-col-1 {
  @include make-col(1);
}
.fl-col-2 {
  @include make-col(2);
}
.fl-col-3 {
  @include make-col(3);
}
.fl-col-4 {
  @include make-col(4);
}
.fl-col-5 {
  @include make-col(5);
}
.fl-col-6 {
  @include make-col(6);
}
.fl-col-7 {
  @include make-col(7);
}
.fl-col-8 {
  @include make-col(8);
}
.fl-col-9 {
  @include make-col(9);
}
.fl-col-10 {
  @include make-col(10);
}
.fl-col-11 {
  @include make-col(11);
}
.fl-col-12 {
  @include make-col(12);
}

.spinner-holder {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -27px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($text-color, 0.1);
  margin-bottom: 1.0rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 0 1.5rem;
  color: $text-color;
  height: 4rem;
  font-size: 14px;

  p {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex: 1;
    margin: 0 1.4rem 0 0;
  }

  a {
    &.closeSideView {
      font-size: 0.8em;
      color: $text-color;
      text-decoration: none;
      margin-right: 0;
      margin-top: -3px;
    }
  }
}

.fa-times-thin:before {
  content: '\00d7';
}

.control-label {
  margin-bottom: 8px;

  label {
    margin: 0;
  }
}

.buttons-holder {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 40px 0 25px;

  .btn + .btn {
    margin: 0;
  }

  .btn-primary {
    background: transparent;
    border: 1px solid rgba($text-color, 0.5);
    border-radius: 45px;
    line-height: 2.4;
    color: rgba($text-color, 0.5);

    &:hover {
      color: #333333;
    }
  }

  .btn-default {
    background: transparent;
    line-height: 2.4;
    color: rgba($text-color, 0.5);

    &:hover {
      color: $text-color;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.danger-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $danger-color;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

#theme-widget-holder {
  font-size: 13px;
  height: 100%;
  padding: 0 15px;
}

#theme-application {
  font-size: 13px;
  padding: 1rem 15px 54px;
  height: calc(100% - 54px);
  overflow: auto;
  margin-top: 94px;

  &.theme-selection-hidden {
    height: 100%;
    margin-top: 40px;

    header {
      margin-bottom: 0;
    }

    .top-area-fixed {
      .breakpoint-tabs {
        margin-top: -10px;
      }
    }
  }

  .top-area-fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 15px;
    background-color: $widget-background-color;
  }

  .form-control {
    height: 30px;
    padding: 0 6px;
    font-size: 13px;
  }

  .breakpoint-tabs {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;

    &.nav-tabs > li {
      display: flex;
      height: 5.2rem;

      > a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 55px;
        min-width: 55px;
        line-height: 1;
        padding: 10px 0 6px;
        border-radius: 0;
        color: rgba($text-color, 0.7) !important;

        &:hover {
          color: $text-color !important;
          background-color: $highlight-gray-hover;
        }
      }

      &.active {
        > a {
          color: $text-color !important;
          border-color: $text-color;
          background-color: $highlight-gray;
        }
      }

      &#mobile {
        > a {
          font-size: 1.9em;
        }
      }

      &#tablet {
        > a {
          font-size: 2.2em;
        }
      }

      &#desktop {
        > a {
          font-size: 2.5em;
        }
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
    margin: 0;

    input {
      display:none;

      &:checked + .slider {
        background-color: $highlight-gray;
        border-color: transparent;
      }

      &:checked + .slider:before {
        @include transform(translateX(14px));
        background-color: $text-color;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $highlight-gray;
      background-color: transparent;
      -webkit-transition: 0.25s;
      transition: 0.25s;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 0px;
        top: 50%;
        margin-top: -10px;
        background-color: darken($highlight-gray, 10%);
        @include transition(all 0.25s ease-out);
      }

      &.round {
        border-radius: 16px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }

  .label-holder {
    position: relative;
    margin-left: 15px;
    color: rgba($text-color, 0.5);

    .inheritance-warn {
      display: inline-block;
    }
  }

  .inherit-settings {
    margin-bottom: 10px;

    &.active {
      margin-bottom: 0;
    }

    .inheritance-warn {
      cursor: default;
    }

    .label-holder {
      margin-left: 0;
    }

    a {
      margin-left: 10px;
    }
  }

  .field-label {
    margin-left: 4px;
    color: rgba($text-color, 0.5);
    cursor: pointer;
  }

  .error-holder {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: rgba($text-color, 0.8);
    color: #ffffff;
    padding: 15px;

    p {
      flex: 1;
      margin: 0 1.4rem 0 0;
    }

    .dismiss-error {
      font-size: 0.8em;
      margin-top: -3px;
      cursor: pointer;
    }
  }

  .saving-holder {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    justify-content: center;

    .save-status {
      font-size: 1.2rem;
      opacity: 0.95;
      background-color: rgba($text-color, 0.8);
      border-top: 1px solid rgba(51, 51, 51, 0.1);
      border-right: 1px solid rgba(51, 51, 51, 0.1);
      border-left: 1px solid rgba(51, 51, 51, 0.1);
      color: #ffffff;
      padding: 5px;
    }
  }
}

.inheritance-warn {
  position: relative;
  z-index: 1;
  width: 10px;
  height: 10px;
  background-color: $warning-color;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;

  &.closer {
    left: -4px;
  }
}

.inheritance-holder {
  position: absolute;
  top: -4px;
  right: -10px;
  width: 10px;
  height: 10px;

  .inheritance-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    min-width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 13px 20px 9px;
    color: rgba(51, 51, 51, 0.8);
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    cursor: default;

    &.to-right {
      left: auto;
      right: 0;
    }

    &.to-top {
      top: auto;
      bottom: 100%;
    }

    .inherit-action {
      color: $primary-color;
      margin-top: 20px;
      margin-left: -20px;
      margin-right: -20px;
      padding: 4px 20px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: $highlight-gray-hover;
      }
    }
  }
}