html {
  height: 100%; 
}

body {
  height: calc(100% - 40px) !important; // Because of margin in #theme-application
  min-height: initial !important;
  overflow: hidden;
}

.spinner-holder {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -27px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($text-color, 0.1);
  margin-bottom: 1.0rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 0 1.5rem;
  color: $text-color;
  height: 4rem;
  font-size: 14px;

  p {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex: 1;
    margin: 0 1.4rem 0 0;
  }

  a {
    &.closeSideView {
      font-size: 0.8em;
      color: $text-color;
      text-decoration: none;
      margin-right: 10px;
      margin-top: -3px;
    }
  }
}

.fa-times-thin:before {
  content: '\00d7';
}

.control-label {
  margin-bottom: 8px;

  label {
    margin: 0;
  }
}

#theme-application {
  font-size: 13px;
  padding: 1rem 15px 54px;
  height: 100%;
  overflow: auto;
  margin-top: 40px;

  header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }

  .form-control {
    height: 30px;
    padding: 0 6px;
    font-size: 13px;
  }

  .breakpoint-tabs {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;

    &.nav-tabs > li {
      > a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 55px;
        min-width: 55px;
        padding: 10px 0 6px;
        font-size: 2.2em;
        border-radius: 0;
        color: rgba($text-color, 0.7) !important;

        &:hover {
          color: $text-color !important;
          background-color: $highlight-gray-hover;
        }
      }

      &.active {
        > a {
          color: $text-color !important;
          border-color: $text-color;
          background-color: $highlight-gray;
        }
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
    margin: 0;

    input {
      display:none;

      &:checked + .slider {
        background-color: $highlight-gray;
        border-color: transparent;
      }

      &:checked + .slider:before {
        @include transform(translateX(14px));
        background-color: $text-color;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $highlight-gray;
      background-color: transparent;
      -webkit-transition: 0.25s;
      transition: 0.25s;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 0px;
        top: 50%;
        margin-top: -10px;
        background-color: darken($highlight-gray, 10%);
        @include transition(all 0.25s ease-out);
      }

      &.round {
        border-radius: 16px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }

  .label-holder {
    position: relative;
    margin-left: 15px;
    color: rgba($text-color, 0.5);

    .inheritance-warn {
      position: relative;
      top: auto;
      right: auto;
      display: inline-block;
    }
  }

  .inherit-settings-holder {
    margin-bottom: 10px;

    &.active {
      margin-bottom: 0;
    }

    .label-holder {
      margin-left: 0;
    }

    a {
      margin-left: 10px;
    }
  }
}

.inheritance-warn {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: $primary-color;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}