$text-color: #333333 !default;
$light-gray: #eeeeee !default;
$highlight-gray: #dcdae0 !default;
$highlight-gray-hover: #efebed !default;
$widget-background-color: #f8f6f7 !default;
$primary-color: #00abd1 !default;
$warning-color: #FF9800 !default;
$danger-color: #F05865 !default;

$border-radius: 6px !default;
$border-radius-sm: 4px !default;

$grid-columns: 12 !default;