<section class="well" data-instance-id="{{ instance.id }}">
  <h2>{{ theme.name }}</h2>
  <hr />
  <h3>Theme configuration</h3>
  <form>

  </form>
  <hr />
  <a href="#" class="btn btn-danger btn-sm" data-delete-instance>Remove theme</a>
</section>